.cartProductos{
    display: grid;
    grid-template-columns: 500px auto auto;
    background-color: #8f1a26;
    margin: 20px;
}

.imgCart{
    width: 150px;
    height: 200px;
    margin: 20px;
}

.trash{
    height: 25px;
    width: 25px;
}

.datosProductos{
    display: block;
    justify-content: start;
    align-items: center;
    margin: 20px;
}

.datosProductos h2{
    color: #e1aa47;
    margin-bottom: 20px;
}

.datosProductos h3{
    color: white;
    margin-bottom: 20px;
}